@import "tailwindcss";

@import "../styles/typography.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-pretendard);
}

body {
  background: var(--background);
  color: var(--foreground);
}
