@import "tailwindcss";
@import "../styles/typography.css";
@import "../styles/colors.css";
@import "../styles/section.css";
@import "../styles/cloud.css";

body {
  background: var(--color-white);
  color: var(--color-gray-950);
}
